

.modelImg {
  float:  left;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.Guitar {
  margin: 1em;
  align-items: center;
  justify-content: flex-start;
}

.modelName {
  font-size: 1.5em;
}

.guitarCardHeader {
  align-items: center;
  justify-content: center;
}

.usrGtrBtn {
  margin-bottom: 1em;
  background-color: rgb(182, 150, 68);
}

.usrGtrBtn:hover {
  background-color: rgb(143, 117, 53);
}