.modelImg {
  max-width: 100%;
}

.Guitar {
  margin: 1em;
  align-items: center;
  justify-content: center;
}

.modelName {
  font-size: 1.5em;
}

.usrBtn {
  margin-right: 0;
  margin-left: auto;
}
