.loneGtr {
  padding-top: 120px;
  min-height: 100vh;
  align-content: center;
}

.loneContainer {
  margin: 1em;
}

.loneImg {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}


.specHeader {
  align-items: center;
  justify-content: center;
}

.spec {
  margin: 1em;
  justify-content: center;
  align-items:center;
}

.backUsrBtn {
  background-color: rgb(182, 150, 68);
}

.backUsrBtn:hover {
  background-color: rgb(143, 117, 53);
}

.specImg {
  max-height: 68.67px;
  width: auto;
  margin-left: 1em;
  display: flex-end;
}