.loneGtr {
  padding-top: 70px;
  min-height: 100vh;
  align-content: center;
}

.loneContainer {
  margin: 1em;
}

.loneImg {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}


.specHeader {
  align-items: center;
  justify-content: center;
}

.spec {
  margin: 1em;
  justify-content: center;
  align-items:center;
}